<main>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">launch</i>Full Harvest job</div>
      <div class="collapsible-body">

        <form class="col s12">



        </form>

      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">launch</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">launch</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
</main>
