<main>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>Full harvest</div>
      <div class="collapsible-body"><app-job-runner [whoAmI]='"fullHarvest"' [needId]="true"></app-job-runner></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>Incremental harvest</div>
      <div class="collapsible-body"><app-job-runner [whoAmI]='"incrementalHarvest"' [needId]="true"></app-job-runner></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>Deduplicate</div>
      <div class="collapsible-body"><app-job-runner [whoAmI]='"deduplicate"' [needId]="false"></app-job-runner></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">label_outline</i>Index</div>
      <div class="collapsible-body"><app-job-runner [whoAmI]='"index"' [needId]="false"></app-job-runner></div>
    </li>

    <!--TODO: Use datalist instead of anc. tag-->
    <!--<li>-->
      <!--<div class="collapsible-header"><i class="material-icons">label_outline</i>Index</div>-->
      <!--<div class="collapsible-body">-->

        <!--<input list="browsers" name="myBrowser"/>-->
        <!--<datalist id="browsers">-->
          <!--<option value="Chrome">-->
          <!--<option value="Firefox">-->
          <!--<option value="Internet Explorer">-->
          <!--<option value="Opera">-->
          <!--<option value="Safari">-->
          <!--<option value="Microsoft Edge">-->
        <!--</datalist>-->

      <!--</div>-->
    <!--</li>-->
  </ul>

  <!--<app-job-runner></app-job-runner>-->
</main>
