<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseFullHarvest"><i class="glyphicon glyphicon-wrench"></i> Full harvest</a>
      </h4>
    </div>
    <div id="collapseFullHarvest" class="panel-collapse collapse">
      <div class="panel-body">
        <app-job-runner [needId]="true" [whoAmI]="'fullHarvest'"></app-job-runner>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseIncrementalHarvest"><i class="glyphicon glyphicon-wrench"></i> Incremental harvest</a>
      </h4>
    </div>
    <div id="collapseIncrementalHarvest" class="panel-collapse collapse">
      <div class="panel-body">
        <app-job-runner [needId]="true" [whoAmI]="'incrementalHarvest'"></app-job-runner>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseDeduplicate"><i class="glyphicon glyphicon-wrench"></i> Deduplicate</a>
      </h4>
    </div>
    <div id="collapseDeduplicate" class="panel-collapse collapse">
      <div class="panel-body">
        <app-job-runner [needId]="false" [whoAmI]="'deduplicate'"></app-job-runner>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseIndex"><i class="glyphicon glyphicon-wrench"></i> Index</a>
      </h4>
    </div>
    <div id="collapseIndex" class="panel-collapse collapse">
      <div class="panel-body">
        <app-job-runner [needId]="false" [whoAmI]="'index'"></app-job-runner>
      </div>
    </div>
  </div>
</div>
