<main>
  <p>
    {{batchJobExecution?.id}}
  </p>
  <br>

  <p>
    {{batchJobExecution?.jobInstanceID}}
  </p>
  <br>

  <p>
    {{batchJobExecution?.createTime | date: "dd/MM/yy"}}
  </p>
  <br>

  <p>
    {{batchJobExecution?.startTime | date: "dd/MM/yy"}}
  </p>
  <br>

  <p>
    {{batchJobExecution?.endTime | date: "dd/MM/yy"}}
  </p>
  <br>

  <p>
    {{batchJobExecution?.status}}
  </p>
  <br>

  <p>
    {{batchJobExecution?.exitCode}}
  </p>
  <br>

  <p>
    {{batchJobExecution?.exitMessage}}
  </p>
  <br>


</main>
