<div class="navbar-fixed mainNav">
  <nav>
    <!-- Login dropdown content end -->
    <div class="nav-wrapper">
      <div class="logo">
        <a routerLink="/library" class="brand-logo"><i></i>Record Manager 2</a>
        <!-- Empty piece added to indent the logo -->
      </div>
    </div>

  </nav>
</div>

<ul id="slide-out" class="side-nav fixed">
  <li><a routerLink="/library" class="waves-effect waves-red">Libraries</a></li>
  <li><a routerLink="/jobs" class="waves-effect waves-red">Jobs</a></li>
  <li><a routerLink="/oaiHarvestStats" class="waves-effect waves-red">Statistics</a></li>
  <li><a href="#!" class="waves-effect waves-red">Login</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<router-outlet></router-outlet>
