
<app-multi-select [isMultiple]="false" (onSelect)="selectConfig($event)" [options]="options" [itemsAmount]="3" [placeholder]="'Configuration'"></app-multi-select>

<br/>



<label class="btn btn-default btn-file">
  Choose file <input type="file" (change)="chooseFile($event)" style="display: none;">
</label>
<form>
  <div class="input-group">
    <input type="text" class="form-control col-md-2" disabled value="{{file?.name}}" aria-describedby="basic-addon1">
  </div>
</form>
<br/>

<app-multi-select (onSelect)="selectFormat($event)" [isMultiple]="false" [options]="formats" [itemsAmount]="3" [placeholder]="'Format'"></app-multi-select>

<br>

<button (click)="runImportRecordsJob()" type="button" class="btn btn-primary">Run</button>

