/* You can add global styles to this file, and also import other style files */
div, ul{
  padding-left: 110px;
}

@media only screen and (max-width : 992px) {
  div, ul{
    padding-left: 0;
  }
}

div.progress{
  align-content: center;
}


.borderless {
  border: none;
}

.info {
  font-size: 120%;
}


.highlighted {
  font-weight: bold;
  color: teal;
}

.contact {
  font-size: 80%;
}
