<ul class="nav nav-tabs">
	<li role="presentation" routerLinkActive="active"><a routerLink="actual">Actual</a></li>
	<li role="presentation" routerLinkActive="active"><a routerLink="full-harvest">Full harvest</a></li>
	<li role="presentation" routerLinkActive="active"><a routerLink="index-all-records">Index all records</a></li>
	<li role="presentation" routerLinkActive="active"><a routerLink="dedup-records">Deduplicate records</a></li>
	<li role="presentation" routerLinkActive="active"><a routerLink="download-import-conf">Download import configurations</a></li>
	<li role="presentation" routerLinkActive="active"><a routerLink="regenerate-dedup-keys">Regenerate dedup keys</a></li>
</ul>

<router-outlet></router-outlet>