<main>
  <div>

    <div *ngIf="loading" class="progress red lighten-3" >
      <div class="indeterminate"></div>
    </div>
    <h4 class="truncate center">Libraries</h4>

    <table>
      <thead>
      <tr>
        <th data-field="id">Id</th>
        <th data-field="name">Name</th>
        <th data-field="city">City</th>
        <th data-field="url">URL</th>
        <th data-field="catalogUrl">Catalog URL</th>
        <th data-field="details">Details</th>
      </tr>
      </thead>

      <tbody *ngFor="let library of libraries">
        <tr>
          <td>{{library.id}}</td>
          <td>{{library.name}}</td>
          <td>{{library.city}}</td>
          <td><a [href]="'http://' + library.url" target="_blank">{{library?.url}}</a></td>
          <td><a [href]="'http://' + library.catalogUrl" target="_blank">{{library?.catalogUrl}}</a></td>
          <td><a [routerLink]="['/library', library.id]"><i class="material-icons">send</i></a></td>
        </tr>
      </tbody>
    </table>

  </div>



  <a class="btn-floating btn-large waves-effect waves-light red waves-effect waves-light btn modal-trigger" id="addLibraryBtn" href="#modal1"><i class="material-icons">add</i></a>


  <div id="modal1" class="modal">
    <div class="modal-content">

      <div class="row">
        <form class="col s12">

          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" [(ngModel)]="newLibrary.name" name="libraryName">
              <label for="name">Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="url" type="url" class="validate" [(ngModel)]="newLibrary.url" name="libraryURL">
              <label for="url">URL</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="catalogUrl" type="url" class="validate" [(ngModel)]="newLibrary.catalogUrl" name="libraryCatalogURL">
              <label for="catalogUrl">Catalog URL</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="city" type="text" class="validate" [(ngModel)]="newLibrary.city" name="libraryCity">
              <label for="city">City</label>
            </div>
          </div>

          <button class="btn waves-effect waves-light" type="submit" id="createNewLibrary" name="action" (click)="createLibrary()">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>

    </div>

  </div>
</main>
