/* You can add global styles to this file, and also import other style files */
div, ul{
  padding-left: 110px;
}

@media only screen and (max-width : 992px) {
  div, ul{
    padding-left: 0;
  }
}

div.progress{
  align-content: center;
}

#addLibraryBtn {
  position: fixed;
  bottom: 2%;
  right: 2%;
}
