/* You can add global styles to this file, and also import other style files */
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}


div.progress{
  align-content: center;
}

#addLibraryBtn {
  position: fixed;
  bottom: 5%;
  right: 10%;
}

#circlePreloader{
  position: fixed;
  right:50%;
  bottom: 50%;
}

#submit{
  bottom: 2%;
  right: 2%;
}

.sortArrowDown {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.sortArrowUp {
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}


.invisible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}
